{{#each this}}
<div class="photo-card">
  <div  class="gallery__item">
    <a class="gallery__link" href="{{largeImageURL}}" onclick="return false;">
      <img
      src="{{webformatURL}}"
      data-source="{{largeImageURL}}"
      alt="{{tags}}"
      loading="lazy"
      onclick="return false;"
      class='gallery__image'
      />
    </a>
      <div class="info">
        <div class="info-item">
          <p class='info-item__description'><b>Likes</b></p>
          <p class='info-item__description'>{{likes}}</p>
        </div>
        <div class="info-item">
          <p class='info-item__description'><b>Views</b></p>
          <p class='info-item__description'>{{views}}</p>
        </div>
        <div class="info-item">
          <p class='info-item__description'><b>Comments</b></p>
          <p class='info-item__description'>{{comments}}</p>
        </div>
        <div class="info-item">
          <p class='info-item__description'><b>Downloads</b></p>
          <p class='info-item__description'>{{downloads}}</p>
        </div>
      </div>
  </div>
</div>
{{/each}}